{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}


{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.name }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post" action="{{ path('register') }}">
                <h1>Créer un compte</h1>
                <br><br>
                <input type="text" name="name" placeholder="Nom" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
                <button type="submit">S'inscrire</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form method="post" action="{{ path('login') }}">
                <h1>Se connecter</h1>
                <br><br>
                <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="remember-me-container">
                    <input type="checkbox" id="remember-me" name="_remember_me">
                    <label for="remember-me">Se souvenir de moi ?</label>
                </div>

                <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
            </form>
        </div>
    </div>

    <script src="{{ asset('app.js') }}"></script>
{% endblock %}
